<section ng-class="$ctrl.styles.header">
    <div class="flex-container-row">
      <img class="logo" src="../../../../images/ee_logo2.jpg" alt="../../../../images/ee_logo.png">
      <h1 style="margin-top: 45px; font-size: 3em;">Equal Exchange Travel Tracker</h1>
    </div>
    <div ng-cloak>
      <md-content class="md-padding">
          <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="dashboard" name="enter">Enter Site</md-nav-item>
            <!-- below section holds transcluded html passed in via ui-view -->
            <section class="custom-headers" ng-transclude></section>
          </md-nav-bar>
      </md-content>
    </div>
</section>


