<md-content>
  <div class="full-height">
    <header>
        <app-header>
            <ui-view name="header"></ui-view>
        </app-header>
    </header>

    <main>
        <ui-view name="main">
           <div layout="row" layout-align="space-around">Loading...
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </ui-view>
    </main>
    <footer class="flex-container-row">
      <h5>&copy; Travel Tracker</h5>
      <a href="https://github.com/aaronbini/mile-tracker" style="margin-left: 25px;"><h5>Source Code</h5></a>
    </footer>
  </div>
</md-content>
