<md-card class="card-background flex-container-column">

  <h3 class="center-header" style="line-height: 1.5; margin-left: 20px; margin-right: 20px;"><b>STEP 5:</b> How would you like to record your ground mileage?</h3>

  <md-radio-group ng-model="$ctrl.selectSubmission" layout="column" layout-align="center center">
    <md-radio-button 
          style="font-size: 1.25em;"
          ng-repeat="each in $ctrl.options" 
          ng-value="each.option" 
          aria-label="{{each.text}}">
          {{each.text}}
        </md-radio-button>
  </md-radio-group>

  <div ng-if="$ctrl.selectSubmission === 'individual'">
    <h3 class="center-header">Select the mode of ground transportation used for your trip:</h3>
    <md-radio-group ng-model="$ctrl.groundMode" layout="row" layout-align="center center">
      <md-radio-button ng-repeat="mode in $ctrl.groundOptions" ng-value="mode.type" aria-label="{{mode.display}}">
        {{mode.display}}
      </md-radio-button>
    </md-radio-group>
  </div>

</md-card>

<md-card class="card-background" ng-if="$ctrl.selectSubmission === 'individual'">
  <div>
    <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px; margin-right: 20px; margin-left: 20px; line-height: 1.5;" ><b>STEP 6:</b> Enter starting city and destination city for all trip legs.</h3>
  </div>
  <form name="tripLeg" ng-submit="tripLeg.$valid && $ctrl.submitTotalTrip()" layout="column" layout-align="space-around center" style="margin-top: 15px;">
    <md-button ng-if="!$ctrl.roundTrip" ng-click="$ctrl.addTripLeg()" class="md-raised md-accent">Add Trip Leg</md-button>
    <div ng-repeat="trip in $ctrl.trips track by $index" class="flex-container-row flex-center">
      <div layout="row" layout-align="space-around center">
        <md-input-container>
          <input name="fromCity" required placeholder="Departure City:" type="text" ng-model="trip.fromCity">
          <div ng-messages="tripLeg.fromCity.$error" role="alert">
            <div ng-message="required">A departure city is required.</div>
          </div>
        </md-input-container>

        <md-input-container style="padding-bottom: 25px;">
          <md-select ng-model="trip.fromState" placeholder="State">
            <md-option ng-value="state" ng-repeat="state in $ctrl.states">{{ state }}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row" layout-align="space-around center">
        <md-input-container>
          <input name="to" required placeholder="Destination City:" type="text" ng-model="trip.toCity">
          <div ng-messages="tripLeg.toCity.$error" role="alert">
            <div ng-message="required">A destination city is required.</div>
          </div>
        </md-input-container>

          <md-input-container style="padding-bottom: 25px;">
            <md-select ng-model="trip.toState" placeholder="State">
              <md-option ng-value="state" ng-repeat="state in $ctrl.states">{{ state }}</md-option>
            </md-select>
          </md-input-container>
        </div>
      
      <md-button ng-click="$ctrl.removeTripLeg(trip, $index)" class="md-raised md-warn">Remove Trip Leg</md-button>
    </div>

      <md-button type="submit" class="md-raised md-accent">Submit Ground Trip</md-button>
    
  </form>

  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.callMade">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</md-card>

<md-card class="card-background" ng-if="$ctrl.selectSubmission === 'estimate'" layout="column" layout-align="space-around center">
  <h3 class="center-header">Select all modes of transportation used during your trip:</h3>

    <div layout="row" layout-align="center center">
      
      <h3 class="checkbox-text">Car:</h3><md-checkbox flex-gt-sm="20" ng-model="$ctrl.car" aria-label="Car">
      </md-checkbox>
      <h3 class="checkbox-text">Bus:</h3><md-checkbox flex-gt-sm="20" ng-model="$ctrl.bus" aria-label="Bus">
      </md-checkbox>
      <h3 class="checkbox-text">Train:</h3><md-checkbox flex-gt-sm="20" ng-model="$ctrl.train" aria-label="Train">
      </md-checkbox>

    </div>

  <form name="estimateTrip" ng-submit="estimateTrip.$valid && $ctrl.submitTotalTrip()" layout="column" layout-align="space-around center" style="margin-top: 15px;">
    <div layout="row" layout-align="center center" ng-if="$ctrl.car">
        <h3 class="checkbox-text">Estimated Miles by Car:</h3>
        <md-input-container >
          <input name="car" required placeholder="Enter Miles" type="text" ng-model="$ctrl.groundTrips.car.distance">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center" ng-if="$ctrl.bus">
        <h3 class="checkbox-text">Estimated Miles by Bus:</h3>
        <md-input-container>
            <input name="bus" required placeholder="Enter Miles" type="text" ng-model="$ctrl.groundTrips.bus.distance">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center" ng-if="$ctrl.train">
        <h3 class="checkbox-text">Estimated Miles by Train:</h3>
        <md-input-container>
          <input name="train" required placeholder="Enter Miles" type="text" ng-model="$ctrl.groundTrips.train.distance">
        </md-input-container>
      </div>
      <md-button type="submit" class="md-raised md-accent" style="margin: 0 auto; margin-bottom: 10px;">Submit Trip</md-button>
  </form>
</md-card>