<md-card class="card-background">
  <div layout="row" layout-align="center center">
    <h3 style="margin-top: 20px; margin-bottom: 10px;"><b>STEP 5:</b><span style="color: crimson;"><i> Add all flights for this trip, including return flights:</i></span></h3>
    <md-button ng-click="$ctrl.addNewFlight()" class="md-raised md-accent">Add Another Flight</md-button>
  </div>
  <!--<h3 style="margin-top: 15px; margin-bottom: 0px; text-align: center;">Check the box next to your starting city as well as your destination city. This will be used for record-keeping purposes:</h3>-->
  <div layout="column" layout-align="space-around center">

    <md-content 
      class="md-padding card-background" 
      ng-repeat="new in $ctrl.newFlights track by $index" 
      layout="row" 
      layout-align-gt-sm="center center"
      layout-margin>
        <!--<div style="margin-top: 8px; margin-right: 0px;">
          <span style="margin-right: 5px;">Starting city?</span><md-checkbox ng-model="new.departure" aria-label="Starting city?"></md-checkbox>
        </div>          -->
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              md-select-on-match
              md-selected-item="new.from"
              md-search-text="new.searchFrom"
              md-items="item in $ctrl.querySearch(new.searchFrom)"
              md-item-text="item.display"
              md-min-length="0"
              md-require-match="true"
              placeholder="Departure Airport/City">
            <md-item-template>
              <span md-highlight-text="new.searchFrom" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
          </md-autocomplete>
          <br/>
        </form>

        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              md-select-on-match
              md-selected-item="new.to"
              md-search-text="new.searchTo"
              md-items="item in $ctrl.querySearch(new.searchTo)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Destination Airport/City">
            <md-item-template>
              <span md-highlight-text="new.searchTo" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
          </md-autocomplete>
          <br/>
        </form>
         <!-- this captures name of final destination city -->
        <!--<div style="margin-top: 8px; margin-right: 0px;">
          <span style="margin-right: 5px;">Destination city?</span><md-checkbox ng-model="new.destination" aria-label="Destination city?"></md-checkbox>
        </div>-->
        <md-button class="md-raised md-warn" style="margin-bottom: 22px;" ng-click="$ctrl.removeFlight(new, $index)">Remove Flight</md-button>
    
    </md-content>
    
    <md-button ng-click="$ctrl.submitFlights()" class="md-raised md-accent">Submit Flights</md-button>

  </div>
</md-card>
