  <h3 class="center-header">Add all flights for this trip, including return flights:</h3>
  <div layout="column" layout-align="space-around center">

    <div layout="row" layout-align="space-between center" style="width: 60%;">
      <md-button ng-click="$ctrl.addNewFlight()" class="md-raised md-accent">Add Another Flight</md-button>
      <md-button ng-click="$ctrl.submitFlights()" class="md-raised md-accent">Submit Flights</md-button>
    </div>
        
    <md-content 
      class="md-padding" 
      ng-repeat="new in $ctrl.newFlights track by $index" 
      layout-gt-xs="row" 
      layout-align="space-around center">
      
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              md-select-on-match
              md-selected-item="new.from"
              md-search-text="new.searchFrom"
              md-items="item in $ctrl.querySearch(new.searchFrom)"
              md-item-text="item.display"
              md-min-length="0"
              md-require-match="true"
              placeholder="Departure Airport/City">
            <md-item-template>
              <span md-highlight-text="new.searchFrom" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
          </md-autocomplete>
          <br/>
        </form>

        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              md-select-on-match
              md-selected-item="new.to"
              md-search-text="new.searchTo"
              md-items="item in $ctrl.querySearch(new.searchTo)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Destination Airport/City">
            <md-item-template>
              <span md-highlight-text="new.searchTo" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
          </md-autocomplete>
          <br/>
        </form>
      
      <md-button class="md-raised md-warn" style="margin-bottom: 22px;" ng-click="$ctrl.removeFlight(new, $index)">Remove Flight</md-button>
    
    </md-content>
    
  </div>

  <div ng-model="$ctrl.flightMiles">{{$ctrl.flightMiles}}</div> {{$ctrl.flightMiles | json}}
