<md-card class="card-background">
  <h3 class="center-header">{{$ctrl.trip.departure}} to {{$ctrl.trip.destination}} from {{$ctrl.trip.startDate | date: 'shortDate'}} to {{$ctrl.trip.endDate | date: 'shortDate'}}</h3>
  <div layout="row" layout-align="center center">
    <h3 class="mid-header">Trip Total Mileage: <span style="color: crimson; margin-right: 10px;">{{ $ctrl.trip.totalMiles }}</span></h3>
    <h3 class="mid-header">| Emissions (Tons CO2): <span style="color: crimson;">{{$ctrl.emissions}}</span></h3>
  </div>
  <div layout="column" layout-align="space-around center">
    <div class="canvasContain">
      <canvas id="bar"></canvas>
    </div>
  </div>
</md-card>