<md-card ng-if="$ctrl.unconfirmed.length > 0" class="card-background" layout="column" layout-align="space-around center">
  <h3 class="center-header" style="color: crimson;"><b>You've been added as a trip companion!</b></h3>
  <span style="font-size: 1.25em; text-align: center; line-height: 1.5; margin-bottom: 20px;">Looks like you've been added as a travel companion by one of your fellow employees. Those trips are listed below. Check the box to confirm that you were a part of this trip and then click the button to add the trip. It will automatically be added to your trips, so there's no need to add it separately.</span>
  <div ng-repeat="unconfirmed in $ctrl.unconfirmed track by $index">
    <div layout="row" layout-align="center center">
      <h3 style="margin-bottom: 16px; margin-right: 10px; text-decoration: underline;">
        Trip to {{unconfirmed.name}} 
        from {{unconfirmed.startDate | date: 'shortDate'}} 
        to {{unconfirmed.endDate | date: 'shortDate'}}
      </h3>
      <md-checkbox ng-model="$ctrl.confirmed[$index]" aria-label="Were you part of this trip?"></md-checkbox>
    </div>        
  </div>
  <md-button class="md-raised md-accent" ng-click="$ctrl.addConfirmations()">Add Selected Trips</md-button>
</md-card>

<md-card class="card-background" layout="row" layout-align="center stretch">
    
  <md-card class="inset-background" layout="column" layout-align="start center">
    <h3 ng-if="$ctrl.showMessage" class="fade">{{$ctrl.successMessage}}</h3>
    <div layout="column" layout-align="space-around center">
      <h3 class="center-header">Total miles you've traveled</h3>
      <h3>By Air: <span class="aggregate-text">{{$ctrl.milesTraveled.air | number : 0}}</span></h3>
      <h3>By Car: <span class="aggregate-text">{{$ctrl.milesTraveled.car | number : 0}}</span></h3>
      <h3>By Bus: <span class="aggregate-text">{{$ctrl.milesTraveled.bus | number : 0}}</span></h3>
      <h3>By Train: <span class="aggregate-text">{{$ctrl.milesTraveled.train | number : 0}}</span></h3>
    </div>
    <div layout="column" layout-align="space-around center">
      <h3 class="center-header">Total emissions from your travel </h3>
      <h3><span style="color: crimson">{{$ctrl.soloEmissions | number : 0}} </span>Pounds CO2</h3>
    </div>
  </md-card>
  <md-card class="inset-background" layout="column" layout-align="start center">
    <h3 class="center-header">Welcome <span class="welcome-text">{{$ctrl.user.username}}</span></h3>
    <md-input-container style="margin-top: 0px;">
      <md-select ng-model="tripId" placeholder="Select A Trip to View Details" ng-change="$ctrl.showDetails(tripId)">
        <md-option ng-value="trip._id" ng-repeat="trip in $ctrl.trips">Trip to {{trip.name}} on {{trip.startDate | date: 'shortDate'}}</md-option>
      </md-select>
    </md-input-container>

  </md-card>
  <md-card class="inset-background" layout="column" layout-align="start center">
    <div layout="column" layout-align="space-around center">
      <h3 class="center-header">Total Company Miles</h3>
      <h3>By Air: <span class="aggregate-text">{{$ctrl.companyMiles.air | number : 0}}</span></h3>
      <h3>By Car: <span class="aggregate-text">{{$ctrl.companyMiles.car | number : 0}}</span></h3>
      <h3>By Bus: <span class="aggregate-text">{{$ctrl.companyMiles.bus | number : 0}}</span></h3>
      <h3>By Train: <span class="aggregate-text">{{$ctrl.companyMiles.train | number : 0}}</span></h3>
    </div>
    <div layout="column" layout-align="space-around center">
      <h3 class="center-header">Total company emissions from travel</h3>
      <h3><span style="color: crimson">{{$ctrl.companyEmissions | number : 0}} </span>Pounds CO2</h3>
    </div>
  </md-card>
</md-card>

<ui-view></ui-view>
